@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section scripts {

    <script>
        $(function () {
            $("#btnLogin").click(function () {
                //debugger;
                var token;
                var login = $("#login").val();
                var pass = $("#pass").val();

                var d = { "login": login, "pass": pass };

                var settings = {
                    type : "GET",
                    dataType: "json",
                    url: "https://localhost:44397/api/userApi/validate",
                    data: d,
                    success: function (resp) {
                        if (resp.data == "Invalid")
                            alert("Password or UserName is wrong!!!");
                        else {
                            sessionStorage.setItem("token", resp.data);
                            window.location.assign("https://localhost:44368/Home/Index");
                        }
                    },
                    error: function (resp) {
                        alert("UserName or Password is inncorrect!!!");
                    }
                };
                $.ajax(settings);
                return false;
            });
        });
    </script>

}

<h2>Login</h2>

    User Login : <input type="text" id="login" value="@ViewBag.login" /><br />
    Password : <input type="password" id="pass" /><br />
    <button type="submit" id="btnLogin">Login</button><br />
    <span style="color:red">@ViewBag.Error</span>

<form action='@Url.Content(@"~/User/newUser")' method="post">
    <button type="submit">Singn Up</button>
</form>
