#folder{
    border-radius: 6px;
    background-color: azure;
}
.modalBtn{
    display: flex;
    justify-content: center;
    height: 30;
}
.logoutBtn{
    display: flex;
    justify-content: left;
    height: 25px;
}