@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
            if (!sessionStorage.getItem("token"))
                window.location.assign("https://localhost:44368/user/Login")
            var pid = $('.home .root').attr('name');
            folderDisplay(pid);
        });
        function folderDisplay(parentName) {
            var obj = { pId: parentName };
            var ajaxcallShow = {
                type: "Get",
                dataType: "json",
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem("token")
                },
                url: "https://localhost:44397/api/userApi/getChildFolders",
                data: obj,
                success: successShow,
                error: errorShow,
            }
            $.ajax(ajaxcallShow);
        }
        function successShow(res) {
            for (var i = 0; i < res.length; i++) {
                var elem1 = $("<div>").attr({ "name": res[i].folderId, "class": "root", "id": "folder" }).css({ "cursor": "pointer", "border": "2px solid black", "width": "100px" });
                elem1.html('<i class="fa fa-folder" aria-hidden="true"></i> ' + res[i].folderName);
                $(".folders").append(elem1);
                $(".folders").append("<br>");
            }
            $('.root').dblclick(function () {
                $('.folders .root').remove();
                $('.folders br').remove();
                var t = $(this).text();
                var n = $(this).attr("name");
                $('.home .root').text(t);
                $('.home .root').attr('name', n);
                folderDisplay(n);
            });
        }
        function errorShow(res) {
            for (var i = 0; i < res.length; i++) {
                var elem1 = $("<span>").attr("name", res[i][0]).attr("class", "root");
                elem1.text(res[i][1]);
                $("#main").append(elem1);
                $("#main").append("<hr>");
            }
        }
        function test() {
            var pid1 = $('.home .root').attr('name');
            var n = $('#fname').val();
            var obj = { folderName: n, parentId: pid1 };
            var ajaxcall2 = {
                type: "Get",
                dataType: "json",
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem("token")
                },
                url: "https://localhost:44397/api/userApi/createFolder",
                data: obj,
                success: successCreate,
                error: errorCreate,
            }
            $.ajax(ajaxcall2);
        };
        function successCreate(res) {
           
            if (res.msg == "sameNameNotAllowed") {
                alert("Same name is not allowed...");
            }
            else{
                $('.folders .root').remove();
                $('.folders br').remove();
                var n1 = $('.home .root').attr('name');
                $("#fname").text("");
                folderDisplay(n1);
            }
        }
        function errorCreate(res) {
            
            alert("Got here");
            if (res.msg == "sameNameNotAllowed") {
                alert("Same name is not allowed...");
            }
        }
    </script>
}
<div class="container mt-4" id="main">
    <div class="row">
        Name: <input id="fname" /><br />
        <button id="btn" onclick="test()" class="btn btn-primary">Done</button>
        @*<div class="modalBtn col-6">
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-white modalBtn">Create a folder</button><hr>
        </div>*@
    </div><hr>
    @*<div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal pt-4 pb-4">
                Name: <input type="text" id="fname" name="fname" placeholder="Enter folder name..." /><hr>
                <button type="button" id="btn" name="btn" class="w3-button w3-black">Done</button>
            </header>
        </div>*@
    @*</div>*@
    <div class="home">
        <div class="root" name="0" id="folder" style="border: 2px solid black; padding:2px; cursor:pointer; width:100px">root</div><hr>
    </div>

    <div class="folders"></div>
</div>
<form action='@Url.Content(@"~/User/Login")' method="get">
    <button type="submit">Logout</button>
</form>